@import 'assets/scss/mixins';
@import 'assets/scss/color';
@import 'assets/scss/variables';
@import 'assets/scss/animations';

@mixin show {
    display: block;
}

@mixin hide {
    display: none;
}

.slider-card {
    @include box-shadow(toRem(8px), toRem(8px), toRem(10px), $shadow--color-100);
    width: toRem(208px);
    border-radius: toRem(4px);
    background-color: $bg-color--tertiary;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &--hovered {
        position: absolute;
        transform: scaleX(1.4) scaleY(1.4);
        border-radius: toRem(5px);
        z-index: $z-index--level-2;
        transition: transform 350ms 50ms ease-in-out;
    }

    &__preview {
        @include flex-center;
        position: relative;
        overflow: hidden;
    }

    &__video {
        border-radius: toRem(4px) toRem(4px) 0 0;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: transparent;
            user-select: none;
        }

        &--show {
            @include show;
            animation: fade-in 2s forwards;
        }

        &--hide {
            @include hide;
            animation: fade-out 2s forwards;
        }
    }

    &__thumbnail {
        width: 100%;
        aspect-ratio: $aspect-ratio--landscape;
        object-fit: cover;
        object-position: top;

        &--show {
            @include show;
            animation: fade-in 1s forwards;
        }

        &--hide {
            @include hide;
            animation: fade-out 1s forwards;
        }
    }

    &__meta {
        padding: toRem(10px) toRem(10px) toRem(12px);
    }

    &__controls {
        @include flex-space-bw-center;
        margin: toRem(12px) 0 toRem(16px);
    }

    &__controls-left {
        @include flex-center;
        column-gap: toRem(10px);
    }

    &__title {
        @include font-style($font-primary, $font-size--md, $color--primary, $font-weight--medium);
        @include text-overflow-ellipsis;
        max-width: 100%;
    }

    &__tags {
        @include flex-start-center;
        column-gap: toRem(16px);
        margin-top: toRem(16px);
    }

    &__tag {
        @include font-style($font-primary, $font-size--sm, $white-300, $font-weight--regular);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 2px);
            margin: auto toRem(6px);
            width: toRem(4px);
            height: toRem(4px);
            border-radius: 50%;
            background-color: $grey-200;
        }

        &:last-child::after {
            content: none;
        }
    }
}
