/****************************
******** FONT COLORS ********
*****************************/

$color--app-title: linear-gradient(90deg, #e4b921 0%, #91750f 100%);
$color--primary: #eaeaea;
$color--secondary: #222222;

/****************************
********* BG COLORS *********
*****************************/

$bg-color--primary: #10141a;
$bg-color--secondary: #e1e1e1;
$bg-color--tertiary: #20242a;

/****************************
******* PALLETE COLORS ********
*****************************/

$red-100: #ff0000;

$grey-200: #777777;

$white-300: #cecece;

$gold-100: #e4b921;
$gold-200: #91750f;

/****************************
********** SHADOW ***********
*****************************/

$shadow--color-100: rgba(0, 0, 0, 0.15);
$shadow--color-200: rgba(0, 0, 0, 0.25);

/****************************
********** BUTTON ***********
*****************************/

$btn-default-color--disabled: #555555;
$btn-alt-color--disabled: #cccccc;
