/****************************
******** FONT COLORS ********
*****************************/

$primary-color: #f0f7ee;
$secondary-color: #77aca2;

/****************************
********* BG COLORS *********
*****************************/

$bg-color-primary: #02111b;
