/************************
****** CONVERSIONS ******
*************************/

@function toRem($px) {
    @return calc($px/14px) * 1rem;
}

/************************
****** DIMENSIONS ******
*************************/

@mixin icon-dimensions($width, $height: $width) {
    width: $width;
    height: $height;
}

/************************
******* OUTLINES ********
*************************/

@mixin outline-style($width, $color, $offset) {
    outline: $width solid $color;
    outline-offset: $offset;
}

/*************************
******* SPACINGS *********
**************************/
@mixin no-margin {
    margin: 0;
}

@mixin no-padding {
    padding: 0;
}

/*************************
********** FONTS *********
**************************/

@mixin font-style(
    $family,
    $size,
    $color,
    $weight: $font-weight--regular,
    $line-height: $line-height--normal
) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $line-height;
}

@mixin text-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*************************
********* FLEXBOX ********
**************************/

@mixin flex {
    display: flex;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-space-bw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*************************
******* SCROLLBAR ********
**************************/
@mixin scrollbar($width, $height, $trackColor, $thumbColor) {
    &::-webkit-scrollbar {
        width: toRem($width);
        height: toRem($height);
        cursor: pointer !important;
    }
    &::-webkit-scrollbar-track {
        background: $trackColor;
    }
    &::-webkit-scrollbar-thumb {
        height: toRem(4px);
        border-radius: toRem(8px);
        background: $thumbColor;
        cursor: pointer !important;
    }
    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer !important;
    }
    &::-webkit-scrollbar:hover {
        cursor: pointer !important;
    }
}
