/****************************
*********** FONTS ***********
*****************************/

$font-family-primary: "Bebas Neue", "Nunito", sans-serif;
$font-family-secondary: "Nunito", sans-serif;

$font-size-base: 14px;
