@import 'assets/scss/mixins';

/****************************
*********** FONTS ***********
*****************************/

$font-app-title: 'Bebas Neue', 'Roboto', sans-serif;
$font-primary: 'Roboto', 'Helvetica', sans-serif;

$font-size--sm: toRem(12px);
$font-size--base: toRem(14px);
$font-size--md: toRem(16px);
$font-size--lg: toRem(18px);

$font-size--h1: toRem(48px);
$font-size--h2: toRem(42px);
$font-size--h3: toRem(36px);
$font-size--h4: toRem(30px);
$font-size--h5: toRem(24px);
$font-size--h6: toRem(20px);

$font-size--app-title: toRem(32px);
$font-size--btn: toRem(16px);
$font-size--label: toRem(14px);
$font-size--tags: toRem(10px);

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 900;

$line-height--normal: normal;
$line-height--default: 1.15;
