@import 'assets/scss/mixins';

.hero-carousel {
    @include flex-start-center;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    @include scrollbar(0px, 0px, transparent, transparent);

    &__scroll-btn {
        position: absolute;
        height: toRem(48px);
        width: toRem(48px);
        border-radius: 50%;
        background-color: lightblue;
        top: 40%;
        left: 50px;
        transform: translateY(-50%);
        z-index: 999;

        &.right {
            left: auto;
            right: 50px;
        }
    }
}
