@import 'assets/scss/mixins';

.carousel-item {
    min-width: 100%;
    height: toRem(500px);
    @include no-margin;

    &__image {
        height: 100%;
        width: 100%;
    }

    &__title {
        font-size: 14px;
        margin-top: 16px;
    }

    &__description {
        font-size: 16px;
        margin-top: 8px;
    }
}
