@import 'assets/scss/mixins';
@import 'assets/scss/color';
@import 'assets/scss/variables';

.app-header {
    @include flex-start-center;
    @include bg-blur(2px);
    padding: toRem(20px) var(--padding-x);
    width: calc(100vw - 2 * var(--padding-x));
    background: linear-gradient(180deg, rgba(16, 20, 26, 0.75) 0%, rgba(16, 20, 26, 0) 100%);
    position: fixed;
    z-index: $z-index--level-3;
    top: 0;
    left: 0;

    &__title-container {
        margin-right: toRem(60px);
        user-select: none;
    }

    &__title {
        @include drop-shadow(4px, 4px, 5px, $black-400);
        font-family: $font-app-title;
        font-size: $font-size--app-title;
        letter-spacing: 1px;
        background: -webkit-linear-gradient(-45deg, $gold-100 50%, $gold-200 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }

    &__navigation {
        @include flex-space-bw-center;
        width: 100%;
    }

    &__navigation-primary {
        @include flex-start-center;
        column-gap: toRem(40px);
    }

    &__link {
        @include font-style($font-primary, $font-size--md, $color--primary, $font-weight--regular);
        @include flex-center;
        text-decoration: none;
        border: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: toRem(-6px);
            height: 2px;
            width: 103%;
            border-radius: 2px;
            opacity: 0;
            background: linear-gradient(45deg, $gold-100 50%, $gold-200 100%);
            transition: opacity 0.3s ease-in-out;
        }

        &--active {
            &::after {
                opacity: 1;
            }
        }
    }

    &__navigation-secondary {
        @include flex-start-center;
    }

    &__my-account.button {
        @include font-style($font-primary, $font-size--md, $color--primary, $font-weight--regular);
        background-color: $red-200;
    }

    &__my-account-icon.button__icon {
        stroke-width: 1px;
    }
}
