@import "assets/scss/mixins";
@import "assets/scss/color";

.app-header {
  padding: toRem(30px) toRem(40px) toRem(40px);

  &__title {
    @include no-margin;
    font-size: toRem(32px);
    color: $secondary-color;
  }
}
