@import 'assets/scss/mixins';
@import 'assets/scss/color';
@import 'assets/scss/variables';
@import 'assets/scss/media-query';

/* Global style properties */
* {
    --padding-x: #{toRem(48px)};
    --items-per-page: 6;

    @include tablet {
        --items-per-page: 4;
    }
}

/* Global style properties */
* {
    --padding-x: #{toRem(40px)};
}

html {
    font-size: 14px;
}

body {
    @include no-margin;
    @include no-padding;
    @include font-style($font-primary, $font-size--base, $color--primary);
    height: 100%;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    background-color: $bg-color--primary;

    ul,
    ol {
        @include no-margin;
        @include no-padding;
        list-style: none;
    }

    #root {
        @include flex(normal, normal, column);
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include no-margin;
        @include no-padding;
    }

    h1 {
        font-size: $font-size--h1;
    }
    h2 {
        font-size: $font-size--h2;
    }
    h3 {
        font-size: $font-size--h3;
    }
    h4 {
        font-size: $font-size--h4;
    }
    h5 {
        font-size: $font-size--h5;
    }
    h6 {
        font-size: $font-size--h6;
    }
}
