.yt-player {
    // TODO: Make height of container adjustable
    height: calc(100vh - 70px);
    width: 100%;

    &__embedded-player {
        border: none;
        width: 100%;
        height: 100%;
    }
}
