@import 'assets/scss/mixins';
@import 'assets/scss/variables';

@mixin hover-effect($opacity) {
    &:hover {
        opacity: $opacity;
    }
}

@mixin click-effect($outline-width: 2px, $outline-color: $color--primary, $outline-offset: 2px) {
    &:active {
        @include outline-style($outline-width, $outline-color, $outline-offset);
    }
}

.button {
    @include font-style(
        $font-primary,
        $font-size--btn,
        $color--secondary,
        $font-weight--medium,
        $line-height--normal
    );
    @include hover-effect(0.9);
    @include click-effect();
    max-width: 25ch;
    cursor: pointer;
    border: none;
    padding: toRem(8px) toRem(16px);
    border-radius: toRem(4px);
    background-color: $bg-color--secondary;
    box-shadow: $box-shadow;
    opacity: 1;

    &:disabled {
        @include hover-effect(0.85);
        @include click-effect(0, $btn-default-color--disabled, unset);
        opacity: 0.85;
        pointer-events: none;
        cursor: not-allowed;
        color: $btn-default-color--disabled;
    }

    &--alt {
        @include hover-effect(0.8);
        @include click-effect(2px, $color--primary, 2px);
        box-sizing: border-box;
        opacity: 0.9;
        background-color: $grey-200;
        @include bg-blur();
        color: $color--primary;

        &:disabled {
            color: $btn-alt-color--disabled;
        }
    }

    &--outlined {
        @include outline-style(2px, $color--primary, inherit);
        background-color: transparent;
        color: $color--primary;
        box-shadow: none;
        @include bg-blur();

        &:disabled {
            color: $btn-alt-color--disabled;
        }
    }

    &--text {
        background-color: transparent;
        color: $color--primary;
        box-shadow: none;
    }

    &--round-filled {
        padding: toRem(8px);
        border-radius: 50%;
        outline: none;
    }

    &--round-outlined {
        @include outline-style(2px, $grey-200, 0px);
        @include click-effect(2px, $color--primary, 0px);
        @include bg-blur(2px);
        min-height: unset;
        padding: toRem(4px);
        border-radius: 50%;
        background-color: transparent;
        color: $color--primary;
        box-shadow: none;

        &:disabled {
            color: $grey-200;
        }
    }

    &__label {
        @include text-overflow-ellipsis;

        &--small {
            font-size: $font-size--sm;
        }

        &--medium {
            font-size: $font-size--md;
        }

        &--large {
            font-size: $font-size--lg;
        }
    }

    &__content {
        @include flex-start-center;
        gap: toRem(8px);

        &--icon-right {
            flex-direction: row-reverse;
        }
    }

    &__icon {
        color: currentColor;

        &--small {
            @include icon-dimensions(toRem(16px));
        }

        &--medium {
            @include icon-dimensions(toRem(24px));
        }

        &--large {
            @include icon-dimensions(toRem(32px));
        }
    }
}
