@import 'assets/scss/variables';
@import 'assets/scss/color';

// TODO: This is temporary nav-bar, this will be a separate component
.nav-temp {
    padding: toRem(20px) toRem(40px);

    span {
        font-family: $font-app-title;
        font-size: $font-size--app-title;
        background: -webkit-linear-gradient(-90deg, #e4b921 0%, #91750f 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 6px 4px 6px #00000040;
        cursor: pointer;
    }
}
